:root {
  --color-primary: #24053e;
  --color-secundary: #44ffa1;
  --color-terciary: #fcf8ff;
  --color-text: #584d62;
  --white: white;
  --fraunces-bold: 80px;
  --fraunces-medium: 56px;
  --fraunces-title: 45px;
  --fraunces-regular: 32px;
  --manrope-regular: 18px;
  --manrope-bold: 16px;
}

/* Variables SASS */
