:root {
  --color-primary: #24053e;
  --color-secundary: #44ffa1;
  --color-terciary: #fcf8ff;
  --color-text: #584d62;
  --white: white;
  --fraunces-bold: 5rem;
  --fraunces-medium: 3.5rem;
  --fraunces-title: 2.8125rem;
  --fraunces-regular: 2rem;
  --manrope-regular: 1.125rem;
  --manrope-bold: 1rem;
}

/* Variables SASS */
